:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "main";
  height: 100vh;
}

main {
  grid-area: main;
  padding: 1rem;
  display: flex;
  justify-content: center;

  div.table-container {
    width: 80%;
  }
}
