<form [formGroup]="userForm" class="user-form">
  <div class="form-row">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput autocomplete="off" formControlName="firstName" required />
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["firstName"] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput autocomplete="off" formControlName="lastName" required />
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["lastName"] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Age</mat-label>
      <input
        matInput
        autocomplete="off"
        type="number"
        formControlName="age"
        required />
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["age"] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="female">Female</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["gender"] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Country</mat-label>
      <input
        matInput
        type="text"
        autocomplete="new-password"
        formControlName="country"
        [matAutocomplete]="auto"
        (input)="onCountryChanged($event)"
        appOptionValidation
        [list]="filteredCountries$ | async"
        required />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let country of filteredCountries$ | async as countries"
          [value]="country">
          {{ country }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["country"] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>City</mat-label>
      <input
        matInput
        autocomplete="new-password"
        formControlName="city"
        required />
      <mat-error *ngIf="messages$ | async as messages">
        {{ messages["city"] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-button type="button" (click)="onCancel()">Close</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="userForm.invalid || userForm.pristine"
      (click)="onSave()">
      Save
    </button>
  </div>
</form>

<!-- <ng-container *ngIf="triggerValidCountries$ | async"></ng-container> -->
