.table-container {
  overflow-x: auto;
  .mat-elevation-z8 {
    width: 100%;
    border-radius: 8px;
  }
}

th.mat-header-cell,
td.mat-cell {
  padding: 8px 16px;
}

th.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
}

td.mat-cell {
  border-bottom: 1px solid #e0e0e0;
}

td.mat-cell,
th.mat-header-cell {
  text-align: left;
}

.no-users-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  font-size: 1.2rem;
  font-weight: 600;
  height: 200px;
  text-align: center;
}
